:root {
  --ifm-color-primary: #7f7ff0;
  --ifm-color-primary: rgba(0, 0, 0, 0.8);
  --ifm-color-primary-dark: rgba(0, 0, 0, 0.7);
  --ifm-color-primary-darker: rgba(0, 0, 0, 0.8);
  --ifm-color-primary-darkest: rgba(0, 0, 0, 0.9);
  --ifm-color-primary-light: rgba(0, 0, 0, 0.6);
  --ifm-color-primary-lighter: rgba(0, 0, 0, 0.5);
  --ifm-color-primary-lightest: rgba(0, 0, 0, 0.4);
}
